In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("C:\\Users\\Home\\Desktop\\data\\titanic.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.shape

(891, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
round(df.isna().sum(),0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
print(df.isna().sum()/df.shape[0])

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [9]:
round(df.Age.mean(),0)

30.0

In [10]:
df.Age.fillna(round(df.Age.mean(),0),inplace=True)

In [11]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [13]:
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.033019,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.070657,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.329727,0.083081,0.018443,-0.549500
Age,0.033019,-0.070657,-0.329727,1.000000,-0.232440,-0.180330,0.090632
SibSp,-0.057527,-0.035322,0.083081,-0.232440,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.180330,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.090632,0.159651,0.216225,1.000000

In [14]:
df.drop(['PassengerId','Name','Parch','SibSp','Cabin','Ticket'],axis=1,inplace=True)

In [15]:
df.head()

   Survived  Pclass     Sex   Age     Fare Embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le=LabelEncoder()

In [18]:
df.Sex=le.fit_transform(df.Sex)
df.Embarked=le.fit_transform(df.Embarked)

In [19]:
df

     Survived  Pclass  Sex   Age     Fare  Embarked
0           0       3    1  22.0   7.2500         2
1           1       1    0  38.0  71.2833         0
2           1       3    0  26.0   7.9250         2
3           1       1    0  35.0  53.1000         2
4           0       3    1  35.0   8.0500         2
..        ...     ...  ...   ...      ...       ...
886         0       2    1  27.0  13.0000         2
887         1       1    0  19.0  30.0000         2
888         0       3    0  30.0  23.4500         2
889         1       1    1  26.0  30.0000         0
890         0       3    1  32.0   7.7500         1

[891 rows x 6 columns]

In [20]:
x=df.drop(['Survived'],axis=1)

In [21]:
y=df.Survived

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20,random_state=21)

In [24]:
x_train.shape

(712, 5)

In [25]:
x_test.shape

(179, 5)

In [26]:
y_test.shape

(179,)

In [27]:
from sklearn.naive_bayes import GaussianNB

In [28]:
nb=GaussianNB()

In [29]:
nb.fit(x_train,y_train)

GaussianNB()

In [30]:
pred=nb.predict(x_test)

In [31]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [32]:
accuracy_score(pred,y_test)

0.7821229050279329

In [33]:
print(classification_report(pred,y_test))

              precision    recall  f1-score   support

           0       0.82      0.81      0.82       106
           1       0.73      0.74      0.73        73

    accuracy                           0.78       179
   macro avg       0.77      0.78      0.77       179
weighted avg       0.78      0.78      0.78       179

In [34]:
confusion_matrix(pred,y_test)

array([[86, 20],
       [19, 54]], dtype=int64)

In [35]:
from sklearn.metrics import accuracy_score


accuracy_score(pred,y_test)

0.7821229050279329

In [36]:
from sklearn.naive_bayes import MultinomialNB

In [37]:
mb=MultinomialNB()

In [38]:
mb.fit(x_train,y_train)

MultinomialNB()

In [39]:
pred=mb.predict(x_test)

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
accuracy_score(pred,y_test)

0.659217877094972